<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jaflo.thescoutingapp">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:windowSoftInputMode="stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".TeamReviewSelection"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".AutonMatch"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".TeamReview"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".MatchReview"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".MatchTeamSelection"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".PitScout"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".PitScoutTeamSelection"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".TeleOpMatch"
            android:windowSoftInputMode="stateHidden"/>

    </application>

</manifest>